 .body {
    color: white;
    background-color: black;
}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: .2s ease-in-out 0s;
    border-radius: 4px;
}
.button1 {
    background-color: #36393f;
    border: 4px black;
    color: white
}
.button1:hover {
    transform: scale(1.25);
    background-color: #444850;
}
